{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 87261511 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 82304583 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 95348359 %}
<div class="custom-fields-wrapper">

            {% if article.metafields.custom_fields["hide_from_team_page"] != blank %}
            <div class="custom-field custom-field__hide-from-team-page custom-field__type--checkbox">
                <h3 class="custom-field--title">Hide from Team Page</h3>
                <div class="custom-field--value">
    {% if article.metafields.custom_fields["hide_from_team_page"] == 1 %}
      TRUE
    {% else %}
      FALSE
    {% endif %}
    </div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["facebook_url"] != blank %}
            <div class="custom-field custom-field__facebook-url custom-field__type--url">
                <h3 class="custom-field--title">facebook_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["facebook_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["twitter_url"] != blank %}
            <div class="custom-field custom-field__twitter-url custom-field__type--url">
                <h3 class="custom-field--title">twitter_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["twitter_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["pinterest_url"] != blank %}
            <div class="custom-field custom-field__pinterest-url custom-field__type--url">
                <h3 class="custom-field--title">pinterest_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["pinterest_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["youtube_url"] != blank %}
            <div class="custom-field custom-field__youtube-url custom-field__type--url">
                <h3 class="custom-field--title">youtube_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["youtube_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["instagram_url"] != blank %}
            <div class="custom-field custom-field__instagram-url custom-field__type--url">
                <h3 class="custom-field--title">instagram_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["instagram_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["google_plus_url"] != blank %}
            <div class="custom-field custom-field__google-plus-url custom-field__type--url">
                <h3 class="custom-field--title">google_plus_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["google_plus_url"] }}</div>
              </div>
            {% endif %}
</div>
{% endif %}
{% if blog.id == 80970887 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 85282375 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 88135815 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 83344775 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 79927943 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 81420423 %}
<div class="custom-fields-wrapper">

            {% if article.metafields.custom_fields["author_card_content"] != blank %}
            <div class="custom-field custom-field__author-card-content custom-field__type--html">
                <h3 class="custom-field--title">Author Card Content</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["author_card_content"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["home_page_content"] != blank %}
            <div class="custom-field custom-field__home-page-content custom-field__type--html">
                <h3 class="custom-field--title">home page content</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["home_page_content"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["hide_from_team_page"] != blank %}
            <div class="custom-field custom-field__hide-from-team-page custom-field__type--checkbox">
                <h3 class="custom-field--title">Hide from Team Page</h3>
                <div class="custom-field--value">
    {% if article.metafields.custom_fields["hide_from_team_page"] == 1 %}
      TRUE
    {% else %}
      FALSE
    {% endif %}
    </div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["facebook_url"] != blank %}
            <div class="custom-field custom-field__facebook-url custom-field__type--url">
                <h3 class="custom-field--title">facebook_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["facebook_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["twitter_url"] != blank %}
            <div class="custom-field custom-field__twitter-url custom-field__type--url">
                <h3 class="custom-field--title">twitter_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["twitter_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["pinterest_url"] != blank %}
            <div class="custom-field custom-field__pinterest-url custom-field__type--url">
                <h3 class="custom-field--title">pinterest_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["pinterest_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["youtube_url"] != blank %}
            <div class="custom-field custom-field__youtube-url custom-field__type--url">
                <h3 class="custom-field--title">youtube_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["youtube_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["instagram_url"] != blank %}
            <div class="custom-field custom-field__instagram-url custom-field__type--url">
                <h3 class="custom-field--title">instagram_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["instagram_url"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["google_plus_url"] != blank %}
            <div class="custom-field custom-field__google-plus-url custom-field__type--url">
                <h3 class="custom-field--title">google_plus_url</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["google_plus_url"] }}</div>
              </div>
            {% endif %}
</div>
{% endif %}
{% if blog.id == 81420487 %}
<div class="custom-fields-wrapper">

            {% if article.metafields.custom_fields["author_card_content"] != blank %}
            <div class="custom-field custom-field__author-card-content custom-field__type--html">
                <h3 class="custom-field--title">Author Card Content</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["author_card_content"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["home_page_content"] != blank %}
            <div class="custom-field custom-field__home-page-content custom-field__type--html">
                <h3 class="custom-field--title">home page content</h3>
                <div class="custom-field--value">{{ article.metafields.custom_fields["home_page_content"] }}</div>
              </div>
            {% endif %}

            {% if article.metafields.custom_fields["hide_from_team_page"] != blank %}
            <div class="custom-field custom-field__hide-from-team-page custom-field__type--checkbox">
                <h3 class="custom-field--title">Hide from Team Page</h3>
                <div class="custom-field--value">
    {% if article.metafields.custom_fields["hide_from_team_page"] == 1 %}
      TRUE
    {% else %}
      FALSE
    {% endif %}
    </div>
              </div>
            {% endif %}
</div>
{% endif %}
{% if blog.id == 88134663 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}
{% if blog.id == 88128583 %}
<div class="custom-fields-wrapper">
</div>
{% endif %}